.logout-button {
  position: absolute; /* Ahora se posiciona dentro del contenedor */
  bottom: 80px; /* Lo más arriba posible dentro del contenedor */
  right: 600px; /* Lo más a la izquierda posible dentro del contenedor */
  z-index: 10000;
}
